# MINIO CONFIG (BLOB STORAGE)
MINIO_ENDPOINT=""
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""

# DATA EXTRACTOR MANAGER ENDPOINT
MANAGER_ENDPOINT = "http://manager:8000" # Keep this value for local executions

# GMAIL DATA EXTRACTOR
EMAIL_ADDRESS = "radim@itps.org.br"
EMAIL_APP_PASSWORD = ""